<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JavaBank</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          modelType="text/css"/>
    <script modelType="application/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script modelType="application/javascript" async
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div th:fragment="action">

    <br>

    <div th:if="${lastAction}" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        <strong>Action:</strong> <span th:text="${lastAction}">last action performed</span>
    </div>

</div>

</body>
</html>




